[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mali/Desktop/x]
row=4
col=0

[5D11091C4600B277]
row=5
col=0

[98564DB9564D9940]
row=6
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/mali]
row=3
col=0

