<?xml version="1.0"?>
<DHCPServer networkName="inet" trunkType="whatever" IPAddress="10.0.5.1" lowerIP="10.0.5.2" upperIP="10.0.5.100" leasesFilename="/home/m/.config/VirtualBox/inet-Dhcpd.leases" networkMask="255.255.255.0">
  <Options>
    <Option name="1" encoding="0" value="255.255.255.0"/>
  </Options>
</DHCPServer>
