<?xml version="1.0"?>
<DHCPServer networkName="lab" trunkType="whatever" IPAddress="10.0.3.3" lowerIP="10.0.3.4" upperIP="10.0.3.254" leasesFilename="/home/m/.config/VirtualBox/lab-Dhcpd.leases" networkMask="255.255.255.0">
  <Options>
    <Option name="1" encoding="0" value="255.255.255.0"/>
    <Option name="3" encoding="0" value="10.0.10.1"/>
    <Option name="6" encoding="0" value="192.168.1.1"/>
    <Option name="15" encoding="0" value="local"/>
  </Options>
</DHCPServer>
